<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.BIDDOBUY"
        tools:targetApi="31">
        <activity
            android:name=".Bidding"
            android:exported="false" />
        <activity
            android:name=".LiveAuctions"
            android:exported="false" />
        <activity
            android:name=".ViewBidderProfile"
            android:exported="false" />
        <activity
            android:name=".CreateAuctions"
            android:exported="false" />
        <activity
            android:name=".AddProducts"
            android:exported="false" />
        <activity
            android:name=".ViewSellerProfile"
            android:exported="false" />
        <activity
            android:name=".SellerLogged"
            android:exported="false" />
        <activity
            android:name=".BidderLogged"
            android:exported="false" />
        <activity
            android:name=".BidderLogin"
            android:exported="false" />
        <activity
            android:name=".BidderRegister"
            android:exported="false" />
        <activity
            android:name=".SellerLogin"
            android:exported="false" />
        <activity
            android:name=".SellerRegister"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>